src/main/resources/xsd/bags.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="bags">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bag" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="amount" type="xs:integer"/>
                            <xs:element name="size" type="xs:integer"/>
                            <xs:element name="weight" type="xs:integer"/>
                        </xs:sequence>
                        <xs:attribute  name="id" type="xs:byte"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>