src/main/resources/xsd/bags.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="bags" type="bagsType"/>
    <xs:complexType name="bagType">
        <xs:sequence>
            <xs:element name="amount">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="size">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="10"/>
                        <xs:enumeration value="12"/>
                        <xs:enumeration value="6"/>
                        <xs:enumeration value="11"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="weight">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="15"/>
                        <xs:enumeration value="18"/>
                        <xs:enumeration value="6"/>
                        <xs:enumeration value="14"/>
                        <xs:enumeration value="12"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id" use="optional"/>
    </xs:complexType>
    <xs:complexType name="bagsType">
        <xs:sequence>
            <xs:element type="bagType" name="bag" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>